/* 
  This is a SAMPLE File to get you started. Follow the instructions on the project to complete the tasks. 
  You'll probably need to override some of theese styles.
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

body {
    max-width: 100%;
    max-height: 100%;
    background: rgba(248, 229, 200, 0.911);
    /* background-image: radial-gradient(
        farthest-corner at 20px 20px,
        rgba(200, 245, 243, 0.5) 15%,
        rgb(80, 108, 109)); */
    color: #333;
}

header {
    background:linear-gradient(
        to bottom right,
        rgba(0,0,0,0),
        rgba(0, 0, 0, 0.6));
    color: #fff;
    padding: 1rem;
}

nav{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 1rem;
}

main {
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70%;
    
    /* background-color: aqua; */
}

#filter{
    /* background-color: aquamarine; */
    align-items: center;
    margin: 20px;
    padding: 20px;
    height: auto;
}
#filter h1{
    font-size: 44px;
    margin: 20px;
}

#filter select{
    width: 60%;
    font-size: large;
    color: black;
    padding: 5px;
    margin-bottom: 20px;
}

#places-list{
    /* background-color: red; */
    border: #fff;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

/* The footer classes */
.foot{
    min-width: 100%;
    min-height: 100px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    background:linear-gradient(
        to bottom right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, .85));
    margin-top: 20px;
}


/* The navigation bar classes */
#login-link{
    /* background: yellowgreen; */
    display: inline-block;

}

/* The main section of the home page */


/* The card that displays places in the home page*/
.place-card{
    border:2px solid #333;
    width: 40vw;
    height: 40vh;
    margin: 10px;
    padding: 10px;
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: aliceblue;
    box-shadow: 0px 0px 3px;
}

.place-card button{
    margin-top: 30px;
    padding: 10px;
    background:linear-gradient(
        to bottom right,
        rgba(0, 0, 0, .1),
        rgba(0, 0, 0, .6));
    border: none;
    border-radius: 5px;
    color: white;
    font-weight:bold;
}

.place-image{
    border: 2px solid #333;
}

.details-button{
    border: 2px solid red;
}

/* The classes that display places in the place page */
.place-details{
    border: 2px solid green;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.place-image-lage{
    border: 2px solid yellow;
}

.place-info{
    border: 2px solid skyblue;
}

.review-card{
    border: 2px solid purple;
}

/* The class that navigates to the add_review page */

.add-review{
    border: 2px solid blue;
}

